body {
    margin: 0px;
  }
  /*navbar*/
  .nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #1b1b1b;
  }
  .navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
  }
  
  .ver-carrito {
    font-size: 24px;
    cursor: pointer;
    margin-top: 4vh;
  }
  
  .ver-carrito:hover {
    color: #ff8800;
    cursor: pointer;
  }
  
  /*Banner estilos*/
  .banner {
    background-size: cover;
    background-position: right;
    height: 80vh;
    background-image: url(img/Portada.jpg);
    background-color: rgba(0, 38, 255, 0.418)55, 0.418;
  }
  
  .banner-container {
    text-align: left;
    padding: 15vh 0;
  }
  
  .banner h1 {
    margin: 0;
    color: #f8eded;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 62px;
    font-weight: lighter;
    opacity: 0.9;
  }
  
  .banner p {
    font-size: 30px;
    color: rgb(10, 10, 98)0, 139, 0.36;
    opacity: 0.8;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
  
  /*product cards*/
  #shopContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 20vh;
  }
  
  .card {
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
  }
  
  .card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  .comprar {
    margin-top: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  /*modal content*/
  .modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*for the top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
  }
  
  .modal-container::-webkit-scrollbar {
    display: none;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #0a0909;
    color: #fff;
    width: 100%;
  }
  
  .modal-header-title {
    justify-self: start;
  }
  .modal-header-button {
    cursor: pointer;
  }
  
  .modal-container > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
  }
  
  .modal-container > div > img {
    height: 120px;
    width: 120px;
  }
  
  .total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding: 20px;
  }
  /*delete button product*/
  .delete-product{
      cursor: pointer;
  }
  
  /*carritoCounter*/
  .cantidad-carrito{
      background-color: red;
      color: white;
      border-radius: 50%;
      font-size: 12px;
      padding: 4px;
      top: 37px;
      right: 14px;
      position: absolute;
      display: none;
  }
  
  .sumar{
      cursor: pointer;
  }
  .restar{
      cursor: pointer;
  }